# ==============================================================================
# LOCAL DEVELOPMENT ENVIRONMENT CONFIGURATION
# ==============================================================================

# Core Application Networking Settings
PORT=
NODE_ENV=
CLIENT_URL=

# Prisma Relational Database Connection (Target Local MySQL Instance)
# Syntax structure: mysql://user:password@host:port/database_name
DATABASE_URL=

# Session Security Configuration Keys (Minimum 8 Characters required by your Zod schema)
JWT_SECRET=
JWT_REFRESH_SECRET=

# SMTP Developer Email Service Engine Settings (Example configured using Mailtrap)
# For local sandboxed testing without sending spam to real customers, use Mailtrap.io
# If using native Google App Passwords instead, flip host to: ://gmail.com and secure to: true
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

# Google OAuth
GOOGLE_CLIENT_ID=

# Facebook OAuth
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# ONLINE PAYMENT
# Mã định danh website của bạn trên hệ thông VNPay (Thường gồm 8 ký tự chữ và số)
VNP_TMNCODE=
# Dùng để tạo chữ ký
VNP_HASHSECRET=
# Định cấu hình môi trường (sandbox hoặc live)
VNP_URL=
# URL điều hướng sau khi thanh toán
VNP_RETURNURL=

# Mã đối tác do MoMo cung cấp khi đăng ký tài khoản doanh nghiệp
MOMO_PARTNER_CODE=
# Khoá truy cập dùng để định danh tài khoản khi gọi API
MOMO_ACCESS_KEY=
# Khoá bí mật dùng để tạo chữ ký điện tử (Signature) bằng thuật toán HMAC SHA256
MOMO_SECRET_KEY=

MOMO_PUBLIC_KEY=
# Địa chỉ máy chủ MoMo để gửi yêu cầu thanh toán
MOMO_API_ENPOINT=
# URL của trang web mà MoMo sẽ chuyển hướng khách hàng quay trờ lại khi họ thực hiện thanh toán xong
MOMO_REDIRECT_URL=
# 
MOMO_IPN_URL=

# AppID môi trường sandbox (hoặc Production)
ZALOPAY_APP_ID=
# Dùng để tạo mã MAC gửi yêu cầu thanh toán
ZALOPAY_KEY1=
# Dùng để xác thực MAC khi nhận callback từ ZaloPay
ZALOPAY_KEY2=
# Đường dẫn
ZALOPAY_ENDPOINT=
# Nơi khách về sau khi thanh toán xong
ZALOPAY_REDIRECT_URL=
# API để ZaloPay tự động cập nhật đơn hàng
ZALOPAY_CALLBACK_URL=

# 
GHN_API_URL=https://ghn.vn
# 
GHN_TOKEN=bedefd7d-8d81-11f1-a973-aee5264794df
# 
GHN_SHOP_ID=209007
